<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mon site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-dC7V4sKwOeb7Vc78a4u4/u73iXOJfK78VQ2TmIlSsEhZjKsZ3l48AP/KPx4uVhX9VyghKj+7Q2tDcr62dJjKwQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/static/img/logo_etu.png" width="30" height="30" class="d-inline-block align-top" alt="Logo du site">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" style="margin-right: 50px;" href="ent_publier_offre">Publier offre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-right: 50px;" href="ent_consult_cand">Consulter candidat</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-right: 50px;" href="ent_mon_profil">Mon profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-right: 50px;" href="#">Aide?</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="accueil">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  {% if erreur %}
  <div class="alert alert-danger">{{ erreur }}</div>
  {% endif %}
      <div class="col-md-5 mt-5 order-md-1 mx-auto text-center">
        <h5 class="text-center">Mon profil</h5>
        <div class="border p-3">
            <form id="modifier-form" action="{% url 'ent_mon_profil' %}" method="POST">
              {% csrf_token %}
               <!-- Ajouter le champ d'ID caché -->
      		<input type="hidden" name="id_user" value="{{ id_user }}">
              <div class="form-group text-left">
                <label for="nom">Nom de l'entreprise:</label>             
                <input type="text" class="form-control" id="nom" value="{{ nom }}" readonly>
              </div>
              <div class="form-group text-left">
                <label for="email">Email:</label>               
                <input type="text" class="form-control" id="email" value="{{ email }}" readonly>
              </div>
              <div class="form-group text-left">
                <label for="num_tel">Téléphone:</label>            
                <input type="text" class="form-control" id="num_tel" value="{{ num_tel }}" readonly>
              </div>
              <div class="form-group text-left">
                <label for="num_voie">Num voie:</label>             
                <input type="text" class="form-control" id="num_voie" value="{{ num_voie }}" readonly>
              </div>
              <div class="form-group text-left">
                <label for="nom_voie">Nom voie:</label>             
                <input type="text" class="form-control" id="nom_voie" value="{{ nom_voie }}"readonly>
              </div>
              <div class="form-group text-left">
                <label for="code_postal">Code postal:</label>          
                <input type="text" class="form-control" id="code_postal" value="{{ code_postal }}" readonly>
              </div>
              <div class="form-group text-left">
                <label for="commune">Commune:</label>           
                <input type="text" class="form-control" id="commune" value="{{ commune }}" readonly>
              </div>
              <div class="form-group text-left">
                <label for="desc_ent">Description:</label>
               <textarea name="desc_ent" rows="5" cols="40">{{ desc_ent }}</textarea>
              </div>
		<button id="modifier-btn">Modifier</button>
            </form>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </div>
      </div>
</body>
</html>